@import "styles/global.scss";
@import "styles/variables.scss";

button {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  position: relative;
  padding: 12px 16px;
  color: $white;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #1e1d2e;
  cursor: pointer;
  display: inline-flex;

  &:active {
    top: 0.08em;
  }
}

.default-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;

  & > svg {
    height: $spacer * 2;
    width: $spacer * 2;
  }
}

.default-button:disabled {
  cursor: not-allowed;
  top: 0px;
}

.icon {
  display: inline-block;
  width: $spacer * 2;
  height: $spacer * 2;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
