@import "./mixins.scss";
@import "./reset.scss";
@import "./variables.scss";
@import "~modularscale-sass/stylesheets/modularscale";
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.618;
}
